.box {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    height: auto;
    margin: auto;
    background-color: aquamarine;
}

.inner-box > .desktop {
    display: none;
}

.inner-box > .mobile {
    display: block;
}

.inner-box {
    border: 2px solid red;
    height: 400px;
    width: 100%;
    margin: 25px auto 25px auto
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .box {
        background-color: rgb(190, 190, 255);

    }
    .inner-box > .mobile {
        display: none;
    }

    .inner-box > .desktop {
        display: block;
    }
}