* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(235, 235, 235);
  margin: 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 440px);
  width: 95vw;
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 235);
}

.inner-box-wrapper {
  overflow: hidden;
  height: 400px;
  margin: 20px;
  box-shadow: 2px 2px 6px rgb(168, 168, 168), 4px 4px 8px rgb(192, 192, 192),
    -2px 2px 6px rgb(168, 168, 168), -4px 4px 8px rgb(204, 204, 204);
}

.inner-box {
  width: 100%;
  max-width: 400px;
  background-color: rgba(7, 27, 63, 0.918);
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.inner-box:hover {
  transform: translateY(-300px);
  -webkit-transform: translateY(-300px);
  -moz-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  -o-transform: translateY(-300px);

}

.inner-top {
  background-color: rgba(128, 126, 126, 0.589);
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-bottom {
  background-color: rgba(157, 105, 194, 0.7);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.6em;
  text-shadow: 1px 1px black;
}

.inner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-paragraph {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3em;
  padding: 20px;
  background-color: rgb(34, 71, 172);
}

.inner-link {
  height: 100px;
  width: 100%;
  margin: 0;
}

.inner-link > a {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.inner-link > a > div {
  background-color: rgba(157, 105, 194, 0.7);
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -ms-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
}

.inner-link > a > div:hover {
  color: white;
  background-color:rgb(171, 77, 238);
}

.inner-top > img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
